body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main,
header > nav,
footer > * {
  width: 100%;
  max-width: 1120px;
  min-width: 320px;
  margin-inline: auto;
  margin-top: 17vh;
}

main {
  padding-inline: 2rem;
}
