* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

html {
  font-size: 16px;
}

:root {
  --white: #f9f8f0;
  --black: #2c2c2c;
  --beige: #f3eeda;
  --light-purple: #b5addf;
  --dark-green: #2d3c08;
}

body {
  background-color: var(--beige);
}

.gloria-hallelujah-regular {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
}

.fragment-mono-regular {
  font-family: "Fragment Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.fragment-mono-regular-italic {
  font-family: "Fragment Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

h1 {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 3rem;
  color: var(--light-purple);
}

p,
a {
  font-family: "Fragment Mono", monospace;
}

h2 {
  font-size: 1.2rem;
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 800;
  font-style: normal;
}

h3 {
  font-size: 1rem;
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 800;
  font-style: normal;
}

p {
  font-size: 0.8rem;
  line-height: 1.8rem;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  p {
    font-size: 1rem;
    line-height: 1.8rem;
  }

  h1 {
    font-size: 4.1rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }
}
