---
import MainLayout from "../layouts/MainLayout.astro";

import CollabLanding from "../components/CollabLanding.astro";

import CollabPrev from "../components/CollabPrev.astro";
---

<MainLayout title="Collabs" backgroundClass="collab-page">
  <section class="collab-page">
    <CollabLanding />
    <CollabPrev />
  </section>
</MainLayout>
