---
import MainLayout from "../layouts/MainLayout.astro";

const title = "collaboration";
---

<MainLayout {title}>
  <section class="collabs-section">
    <h1>COLLABS</h1>
    <h2>Interested in doing a collab with us?</h2>

    <p class="collab-text">
      Kismet is a café in the heart of Copenhagen, known for its unique vibe and
      creative events. We love collaborating with exciting brands and
      individuals who share our values. Feel free to reach out if you have an
      idea for a collab - we only accept inquiries via email.
    </p>

    <div class="image-box">
      <img src="/img/collab-drink.png" alt="Green drink with ASICS logo" />
    </div>

    <a class="square-button" href="mailto:kontakt@kismet.dk"
      >Contact us for collab ⬇</a
    >
  </section>
</MainLayout>
