---
import MainLayout from "../layouts/MainLayout.astro";

import CollabLanding from "../components/CollabLanding.astro";

import ButtonSquare from "../components/ButtonSquare.astro";

const title = "collaboration";
---

<MainLayout {title}>
  <section class="collab-page">
    <CollabLanding />
  </section>

  <style>
    .collab-page {
      min-height: 100vh;
      background-image: url("/public/img/collab_background.webp");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
  </style>
</MainLayout>
