---
import "../layouts/MainLayout.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout backgroundClass="index-page">
  <h1>Kismet cuties</h1>
  <h2>We R the CUTEST!</h2>
  <h3>STILL ARE CUTE</h3>
  <p>go pee</p>
  <a href="">linklinklink</a>
</MainLayout>
