---
import ButtonSquare from "./ButtonSquare.astro";
import AboutSlide from "./AboutSlide.astro";
import AboutGallery from "./AboutGallery.astro";
---

<section class="container">
  <h1>About</h1>
  <AboutSlide />
  <p class="about-text">
    Our team is full of passionate food lovers who test, experiment, and
    handpick the best seasonal ingredients — from fresh loaves to homemade
    kefir.<br /><br />
    Swing by for a pastry, stay for the vibe — there’s always good food, good people,
    and time for a quick chat. We can’t wait to share it all with you!
  </p>
  <h1>OUR STAFF</h1>

  <AboutGallery />
</section>

<style>
  html,
  body {
    overflow-x: hidden;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5vh;
  }

  h1 {
    margin-bottom: -1rem;
    color: rgb(255, 255, 221);
    text-shadow:
      -1px -1px 0 black,
      1px -1px 0 black,
      -1px 1px 0 black,
      1px 1px 0 black;
  }

  .about-text {
    width: 90%;
    max-width: 30rem;
    padding: 0;
    text-align: left;
    hyphens: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    color: var(--dark-green);
    margin-top: 1rem;
    margin-bottom: 4rem;
  }

  @media screen and (min-width: 800px) {
    .about-text {
      margin-top: -3rem;
      max-width: 40rem;
    }
    h1 {
      margin-bottom: 2rem;
    }

    /* .about-doodle1 {
      width: 10%;

      top: 165%;
      left: 19%;
    }
    .about-doodle2 {
      width: 10%;

      top: 240%;
      left: 35%;
    }

    .about-doodle3 {
      width: 9%;

      top: 200%;
      left: 75%;
    } */
  }
</style>
