---
import ButtonSquare from "./ButtonSquare.astro";
import AboutSlide from "./AboutSlide.astro";
import AboutGallery from "./AboutGallery.astro";
---

<section class="container">
  <h1>ABOUT</h1>
  <AboutSlide />
  <p>
    Our team is full of passionate food lovers who test, experiment, and
    handpick the best seasonal ingredients — from fresh loaves to homemade
    kefir. <br> <br>Swing by for a pastry, stay for the vibe — there’s always good food,
    good people, and time for a quick chat. We can’t wait to share it all with
    you!
  </p>
  <h1>OUR STAFF</h1>
  <AboutGallery />
</section>

<style>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
  }

  h1 {
    color: var(--light-green);
    margin-top: -4rem;
       margin-bottom: 2rem;
  }

  .container {
    padding: 1rem;
  }
  p {
    max-width: 600px;
    width: 100%;
    padding: 0 1rem;
    text-align: left;
    hyphens: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    color: var(--dark-green);
    font-size: 16px;
    margin-bottom: 8rem;
    line-height: 1.8;
    margin-top: -1rem;
  }
    @media screen and (max-width: 800px) {
        h1 {
          font-size: 4rem;
        }
    }
</style>
