---
import { Image } from "astro:img";
import about from "../img/about_landing.img";
---

<h1>About</h1>
<div class="imageContainer">
  <Image src={about} alt="kvinde ser på materielprøver" />
</div>
