---
import ButtonSquare from "./ButtonSquare.astro";
import AboutSlide from "./AboutSlide.astro";
import AboutGallery from "./AboutGallery.astro";
---

<section class="container">
  <h1>ABOUT</h1>
  <AboutSlide />
  <p class="about-text">
    Our team is full of passionate food lovers who test, experiment, and
    handpick the best seasonal ingredients — from fresh loaves to homemade
    kefir.<br /><br />
    Swing by for a pastry, stay for the vibe — there’s always good food, good people,
    and time for a quick chat. We can’t wait to share it all with you!
  </p>
  <h1>OUR STAFF</h1>
  <div class="img-wrapper">
    <img class="about-doodle1" src="/img/menu_doodle.webp" alt="doodlemenu" />,
    <img class="about-doodle2" src="/img/menu_doodle.webp" alt="doodlemenu" />,
    <img class="about-doodle3" src="/img/menu_doodle.webp" alt="doodlemenu" />
    <AboutGallery />
  </div>
</section>

<style>
  .about-doodle1 {
    width: 20%;
    position: absolute;
    top: 105%;
    left: 4%;
  }
  .about-doodle2 {
    width: 20%;
    position: absolute;
    top: 190%;
    left: 1%;
  }

  .about-doodle3 {
    width: 20%;
    position: absolute;
    top: 145%;
    left: 80%;
  }
  AboutGallery {
    position: relative;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  h1 {
    color: var(--light-green);
    margin-bottom: -1rem;
  }

  .about-text {
    width: 90%;
    max-width: 30rem;
    padding: 0;
    text-align: left;
    hyphens: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    color: var(--dark-green);
    margin-top: 1rem;
    margin-bottom: 4rem;
  }

  @media screen and (min-width: 800px) {
    .about-text {
      margin-top: -3rem;
      max-width: 40rem;
    }
    h1 {
      margin-bottom: 2rem;
    }
  }
</style>
