---

---

<section class="container">
  <h1>About</h1>
  <img src="/img/about_landing.png" alt="collabgrøn" />
</section>

<style>
  img {
    height: 60vh;
    width: 100%;
    object-fit: cover;
    align-self: stretch;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
  }
  h1 {
    color: var(--light-green);
  }
</style>
