---
const { variant, text, size } = Astro.props;

const filters = ["all", "run-club", "dj", "dinner", "workshop"];
console.log(filters);
---

<button class={`filter-btn ${variant} ${size}`} data-event="">
  {text}
</button>

{
  /* <div style="outline: 2px solid red;">
  {
    filters.map((filter) => {
      ;
    })
  }
</div>*/
}

<style>
  button {
    padding: 10px;
    font-family: "Fragment Mono", monospace;
    border-radius: 20px;
    text-transform: uppercase;
  }
  button:hover {
    opacity: 50%;
  }
  .variant_1 {
    background-color: var(--beige);
    border: solid 1px var(--dark-purple);
    color: var(--dark-purple);
  }
  .variant_2 {
    background-color: var(--dark-purple);
    border: solid 1px var(--dark-purple);
    color: var(--beige);
  }
  .variant_3 {
    background-color: var(--beige);
    border: solid 1px var(--dark-green);
    color: var(--dark-green);
  }
</style>
<script>
  const filterButtons = document.querySelectorAll(".filter-btn");
  filterButtons.forEach((filterButton) => {
    console.log(filterButton);
  });
</script>
