---
const { variant, text, size, id } = Astro.props;
---

<label for={id} class={`button-square ${variant} ${size}`}>
  {text}
</label>

<style>
  .button-square {
    display: inline-block;
    padding: 7px 50px;
    background-color: var(--beige);
    border: 1px solid var(--dark-green);
    color: var(--dark-purple);
    font-family: "Fragment Mono", monospace;
    text-transform: uppercase;
    cursor: pointer;

    border-radius: 0px;
    margin-top: 1rem;
  }

  .button-square:hover {
    opacity: 0.5;
  }
</style>
