---
const { variant, text, size, id } = Astro.props;
---

<label for={id} class={`button-square ${variant} ${size}`}>
  {text}
</label>

<style>
  .button-square {
    display: inline-block;
    padding: 10px;
    margin-top: 1rem;
    background-color: var(--beige);
    border: 1px solid var(--dark-purple);
    color: var(--dark-purple);
    font-family: "Fragment Mono", monospace;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
  }

  .button-square:hover {
    background-color: var(--dark-purple);
    color: var(--beige);
  }
</style>
