---
const images = [
  "/img/collab_slide_o.webp",
  "/img/collab_slide_1.webp",
  "/img/collab_slide_2.webp",
  "/img/collab_slide_3.webp",
  "/img/collab_slide_4.webp",
  "/img/collab_slide_5.webp",
  "/img/collab_slide_6.webp",
  "/img/collab_slide_7.webp",
  "/img/collab_slide_8.webp",
  "/img/collab_slide_9.webp",
  "/img/collab_slide_10.webp",
  "/img/collab_slide_11.webp",
  "/img/collab_slide_12.webp",
  "/img/collab_slide_13.webp",
];
---

<div class="slide">
  <img id="slide-img" src="{images[0]}" alt="collab slide" />
  <div class="slide-buttons">
    <button id="prev-btn">â†</button>
    <button id="next-btn">â†’</button>
  </div>
</div>

<!-- jeg uploader slide.js filen herunder -->
<script src="/public/scripts/collabslide.js" type="module"></script>

<style></style>
