---
import CollabCard from "./CollabCard.astro";
---

<h3>TAKE A LOOK AT OUR PREVIOUS COLLABORATIONS</h3>
<CollabCard
  title="X ROYAL COPENHAGEN 2025"
  description="We’ve collaborated with Royal Copenhagen, where we hosted a long-table dinner for a large group of guests. We served food and coffee using Royal Copenhagen’s iconic porcelain, which added a touch of elegance to the experience."
  imgSrc="/img/collab_prev_royal.webp"
/>

<CollabCard
  title="X ASICS 2024"
  description="Our very first collab was with ASICS, where we styled Kismet with their logo — even down to the glasses. We served cold, green drinks for everyone to enjoy in the sunshine, adding a fresh and sporty vibe to the overall experience."
  imgSrc="/img/collab_prev_asics.webp"
  flip={true}
/>
<CollabCard
  title="KISMET X COMING SOON"
  description=" Keep an eye on our socials — we’ll let you know as soon as the next collab is brewing!"
  imgSrc="/img/collab_prev_comingsoon.webp"
  flip={false}
/>

<style>
  h3 {
    color: var(--dark-purple);
    margin: 60px;
    place-self: center;
  }
</style>
