---
import ButtonSquare from "./ButtonSquare.astro";
import CollabSlide from "./CollabSlide.astro";
---

<section class="collabs-section">
  <h1>COLLABS</h1>

  <p>Interested in doing a collab with us?</p>

  <CollabSlide />
</section>

<div class="collab-wrapper">
  <p class="collab-text">
    Kismet is a café in the heart of Copenhagen, known for its unique vibe and
    creative events. We love collaborating with exciting brands and individuals
    who share our values. Feel free to reach out if you have an idea for a
    collab - we only accept inquiries via email.
  </p>
</div>

<div class="contact-toggle">
  <input type="checkbox" id="contact-toggle" hidden />

  <ButtonSquare text="Contact us" id="contact-toggle" />

  <div id="contact-box" class="contact-box">
    <p>Email: kontakt@kismet.dk</p>
    <p>Instagram: @kismetcph</p>
    <p>Adresse: Adelgade, KBH K</p>
  </div>
</div>

<p class="lookingforw">We are looking forward to hear from you:)</p>

<hr />

<style>
  .img-scroll {
    width: 250px;
    border-radius: 10px;
    border: 8px solid var(--light-green);
    box-shadow: 0 5px 15px var(--plum);
    margin: 70px;
    place-self: center;
  }

  h1 {
    color: var(--light-purple);
  }

  h3 {
    color: var(--light-green);
  }

  p {
    color: var(--beige);
  }

  .collab-text {
    text-align: left;
    max-width: 700px;
    line-height: 1.8;
    margin-top: 60px;
    color: var(--beige);
  }

  .lookingforw {
    color: var(--light-purple);
  }

  .contact-toggle {
    margin: 3rem;
    place-self: center;
  }

  .contact-box {
    margin-top: 1rem;
    padding: 2rem;
    background-color: var(--light-green);
    border: 4px solid var(--beige);

    color: var(--beige);

    border-radius: 10px;

    display: none;
    transition: all 0.8s ease;
  }

  #contact-toggle:checked ~ .contact-box {
    display: block;
  }
</style>
