---
import MainLayout from "../layouts/MainLayout.astro";

const images = [
  "/img/collab_slide_0.webp",
  "/img/collab_slide_1.webp",
  "/img/collab_slide_2.webp",
  "/img/collab_slide_3.webp",
  "/img/collab_slide_4.webp",
  "/img/collab_slide_5.webp",
  "/img/collab_slide_6.webp",
  "/img/collab_slide_7.webp",
  "/img/collab_slide_8.webp",
  "/img/collab_slide_9.webp",
  "/img/collab_slide_10.webp",
  "/img/collab_slide_11.webp",
  "/img/collab_slide_12.webp",
  "/img/collab_slide_13.webp",
];
---

<div class="slide-wrapper">
  <div class="slide-box">
    <div class="slide">
      <div class="img-wrap">
        <img id="slide-img" src={images[0]} alt="collab slide" />
      </div>
    </div>
  </div>
  <img class="doodle-overlay" src="/img/collab_doodle_4.webp" alt="doodle" />
  <img
    class="doodle-overlay2"
    src="/img/collab_doodle_prik.webp"
    alt="doodle"
  />
  <img
    class="doodle-overlay3"
    src="/img/collab_doodle_prik.webp"
    alt="doodle"
  />
</div>
<div class="slide-buttons">
  <button id="prev-btn">←</button>
  <button id="next-btn">→</button>
</div>

<!-- jeg uploader slide.js filen herunder -->
<script src="/scripts/collabslide.js" type="module"></script>

<style>
  .slide-box {
    width: 200px;
    box-shadow: 10px 10px var(--light-purple);
    margin: 70px auto 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
  }

  .img-wrap {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    position: relative;
  }

  .img-wrap img {
    height: 100%;
    width: auto;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
  }

  .slide-wrapper {
    position: relative;
    width: fit-content;
    margin: auto;
  }

  .doodle-overlay {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 180px;
    height: auto;
    z-index: 10;
    pointer-events: none;
    transform: rotate(-8deg);
    animation: doodleFloat 4s ease-in-out infinite;
  }
  .doodle-overlay2 {
    position: absolute;
    top: 275px;
    left: 10px;
    width: 225px;
  }
  .doodle-overlay3 {
    position: absolute;
    top: 290px;

    width: 210px;
  }

  @keyframes doodleFloat {
    0%,
    100% {
      transform: rotate(-8deg) translateY(0px);
    }
    50% {
      transform: rotate(-8deg) translateY(-6px);
    }
  }

  .slide-buttons {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }

  .slide-buttons button {
    padding: 10px 12px;

    background-color: var(--beige);
    border: 1px solid var(--dark-purple);
    color: var(--dark-pruple);
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .slide-buttons button:hover {
    background-color: var(--dark-purple);
    color: var(--beige);
  }

  @media (min-width: 1024px) {
    .slide-box {
      width: 230px;

      /* border: 13px solid var(--light-green); */
      box-shadow: 10px 10px var(--light-purple);
      /* box-shadow: 0 25px 50px var(--plum); */
      margin: 0px auto 20px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      margin-right: 68px;
    }
    .slide-buttons {
      display: flex;
      justify-content: center;
      gap: 5rem;
      margin-right: 100px;
    }
    .doodle-overlay {
      position: absolute;
      top: -90px;
      right: 20px;
      width: 190px;
    }
    .slide-wrapper {
      position: relative;
      width: 100%; /* ikke fit-content! */
    }
  }
</style>
