---
import CollabCard from "./CollabCard.astro";
---

<h3>TAKE A LOOK AT OUR PREVIOUS COLLABORATIONS</h3>
<CollabCard
  title="KISMET X ROYAL COPENHAGEN 2025"
  description="We've had a collab with Royal Copenhagen, were we have served a long-table dinner for many people who joined in, and also had Royal Copenhagen's stel to serve out food and cofee with"
  imgSrc="/img/collab_prev_royal.webp"
/>

<CollabCard
  title="KISMET X ASICS 2024"
  description="We made a collaboration with Asics, as our first collab, where we styled Kismet with their logo, and also on out glasses. We served cool cold green drinks for people to enjoy in the sunny weather"
  imgSrc="/img/collab_prev_asics.webp"
  flip={true}
/>

<style>
  h3 {
    color: var(--dark-purple);
    margin: 60px;
    place-self: center;
  }
</style>
