---
const { text, variant, size } = Astro.props;
---

<p>{text}</p>

<style>
  p {
    color: var(--dark-purple);
  }
  @media screen and (min-width: 800px) {
    p {
      margin: 0vh 65vh 0vh 0vh;
    }
  }
</style>
