---
const { text, variant, size } = Astro.props;
---

<h1>Events</h1>
<p>{text}</p>

<style>
  h1 {
    margin-bottom: -1rem;
    color: rgb(255, 255, 221);
    text-shadow:
      -1px -1px 0 black,
      1px -1px 0 black,
      -1px 1px 0 black,
      1px 1px 0 black;
    margin-bottom: 50px;
    text-align: center;
  }

  p {
    color: var(--dark-green);
  }
  @media screen and (min-width: 900px) {
    p {
      margin: 0 65vh 0 0;
    }
  }
</style>
