---

---

<div class="video_box">
  <h1>events</h1>
  <video autoplay loop muted playsinline>
    <source src="/videos/event.mp4" type="video/mp4" />
  </video>
</div>

<style>
  .video_box {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 5vh;
    box-shadow: 10px 10px var(--light-purple);
  }

  video {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }

  h1 {
    color: var(--light-purple);
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
</style>
