---
//@ts-nocheck
import EventCard from "./EventCard.astro";
import ButtonRound from "./ButtonRound.astro";
const url = "https://ugqyjglpqvlnxrizrviv.supabase.co/rest/v1/events";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVncXlqZ2xwcXZsbnhyaXpydml2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDcyOTY1MjgsImV4cCI6MjA2Mjg3MjUyOH0.o34_Vq2MYjWQWAExvv8dp2e5I5p6bE7UNxj3s36Boz0";

const options = { headers: { apikey: key } };
const data = await fetch(url, options).then((res) => res.json());
---

<nav>
  <p>Categories</p>
  <div>
    <ButtonRound
      text="all"
      variant="variant_2"
      data="all"
      filter="filter-btn"
    />
    <ButtonRound text="dj" variant="variant_1" data="dj" filter="filter-btn" />
    <ButtonRound
      text="Run-Club"
      variant="variant_1"
      data="run-club"
      filter="filter-btn"
    />
    <ButtonRound
      text="Workshops"
      variant="variant_1"
      data="workshop"
      filter="filter-btn"
    />
    <ButtonRound
      text="Dinner"
      variant="variant_1"
      data="dinner"
      filter="filter-btn"
    />
  </div>
</nav>

<ul class="event_container">
  {data.map((product) => <EventCard {product} />)}
</ul>

<style>
  ul {
    padding-top: 2vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: auto;
    list-style: none;
    margin-bottom: 5vh;
  }

  nav > div {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    flex-wrap: wrap;
    width: 100%;
  }

  p {
    color: var(--dark-purple);
    text-transform: uppercase;
  }

  .hidden {
    display: none;
  }

  @media screen and (min-width: 800px) {
    ul {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 2vh 0;
    }
    nav > div {
      justify-content: flex-end;
    }
  }
</style>

<script>
  const buttons = document.querySelectorAll("[filter='filter-btn']");
  const cards = document.querySelectorAll(".event_container a");

  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      buttons.forEach((btn) => {
        btn.classList.remove("variant_2");
        btn.classList.add("variant_1");
      });
      button.classList.add("variant_2");

      const filterActive = button.getAttribute("data");

      cards.forEach((card) => {
        const cardFilter = card.getAttribute("data-filter")?.toLowerCase();
        if (filterActive === "all" || cardFilter === filterActive) {
          card.classList.remove("hidden");
        } else {
          card.classList.add("hidden");
        }
      });
    });
  });
</script>
