---

---

<footer>
  <section>
    <h2>Opening hours</h2>
    <ul class="hours">
      <li>MONDAY: CLOSED</li>
      <li>TUESDAY: 7.30 - 18.00</li>
      <li>WEDNESDAY: 7.30 - 18.00</li>
      <li>THURSDAY: 7.30 - 18.00</li>
      <li>FRIDAY: 7.30 - 18.00</li><br />
      <li>SATURDAY: 9.00 - 18.00</li><br />
      <li>SUNDAY: 9.00 - 15.00</li>
    </ul>
    <p>(BREAKFAST ALL DAY)</p>
  </section>
  <section>
    <h3>Information</h3>
    <p>About</p>
    <p>Contact</p>
  </section>
  <section>
    <h3>Location</h3>
    <p>Adelgade 16, 1304 KBH K</p>
  </section>
  <section class="socials">
    <h3>Socials</h3>
    <a href="https://www.instagram.com/kea_kismet_eksamen/">Instagram</a>
  </section>
</footer>

<style>
  .hours {
    list-style: none;
  }
  footer {
    background-image: url("/public/img/footer.webp");
    background-size: cover;
    background-position: center;
    font-family: monospace;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }
  h2 {
    font-weight: 200;
    font-style: italic;
    font-size: xx-large;
    padding-top: 8rem;
    padding-bottom: 2rem;
  }
  h3 {
    font-weight: 200;
    font-size: x-large;
    font-style: italic;
  }
  .socials {
    padding-bottom: 10rem;
  }
</style>
