<nav id="navbar" class="navbar">
  <div class="mobile">
    <a href="/index.html" class="logo">
      <img src="/img/logo.webp" alt="logo" />
    </a>
    <div class="menu_icon">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>

  <div class="menu_list">
    <div class="list">
      <li><a href="/about" class="about">About</a></li>
      <li><a href="/menu" class="menu">Menu</a></li>
      <a href="/index.html" class="logo">
        <img src="/img/logo.webp" alt="logo" />
      </a>
      <li><a href="/events" class="events">Events</a></li>
      <li><a href="/collab" class="collab">Collab</a></li>
    </div>
  </div>
</nav>

<div class="menu_wrapper">
  <div class="menu_links">
    <li><a href="/index">Home<span>01</span></a></li>
    <li><a href="/about">About<span>02</span></a></li>
    <li><a href="/menu"><span>03</span>Menu</a></li>
    <li><a href="/events">Events<span>04</span></a></li>
    <li><a href="/collab"><span>05</span>Collab</a></li>
  </div>
</div>

<style>
  .logo {
    height: auto;
    width: 20vh;
  }

  .logo:hover {
    opacity: 60%;
  }

  .mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5vh;
  }

  .navbar {
    top: 0;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.1s ease;
    position: fixed;
    left: 0;
    width: 100vw;
    padding: 3vh 0;
  }

  .navbar.scrolled {
    background-color: var(--beige);
  }

  .navbar.active,
  #navbar.active {
    background-color: var(--dark-green);
  }

  #navbar.active .logo {
    opacity: 0;
  }

  span {
    font-family: "Fragment Mono", monospace;
    margin: 2vh;
    font-size: 1rem;
  }

  a {
    color: var(--dark-green);
  }

  a:hover {
    color: var(--light-green);
  }

  .menu_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    background-color: var(--dark-green);
    z-index: 999;
  }

  .menu_wrapper.active {
    transform: translateX(0);
    min-height: 100vh;
    padding: 5vh 8vh 0 8vh;
  }

  .menu_links a {
    color: var(--light-purple);
    font-family: "Gloria Hallelujah", cursive;
    font-size: 1.3rem;
    text-align: center;
    text-transform: uppercase;
  }

  .menu_links a:hover {
    color: var(--light-green);
  }

  .menu_links li {
    list-style: none;
    text-align: center;
  }

  .menu_links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .menu_icon {
    position: relative;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
  }

  .menu_icon.active .line:nth-child(2) {
    opacity: 0;
  }

  .menu_icon.active .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .menu_icon.active .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: var(--light-purple);
  }

  .line {
    width: 25px;
    height: 3px;
    background-color: var(--dark-green);
    margin: 5px 0;
    transition: all 0.3s ease;
  }

  .menu_list {
    display: none;
  }

  @media screen and (min-width: 1080px) {
    .menu_list .list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      margin: 0 25vh;
    }

    .menu_list {
      display: block;
    }

    .menu_icon {
      display: none;
    }

    .mobile {
      display: none;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const navbar = document.getElementById("navbar");
    const menuIcon = document.querySelector(".menu_icon");

    if (!navbar || !menuIcon) return;

    window.addEventListener("scroll", () => {
      if (window.scrollY > 10 && !menuIcon.classList.contains("active")) {
        navbar.classList.add("scrolled");
      } else {
        navbar.classList.remove("scrolled");
      }
    });
  });
</script>
