---

---

<nav id="navbar" class="navbar">
  <div class="mobile">
    <a href="/index.html" class="logo"
      ><img src="/img/logo.webp" alt="logo" /></a
    >
    <div class="menu_icon">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <div class="menu_list">
    <ul>
      <li><a href="../about">About Kismet</a></li>
      <li><a href="../menu">Menu</a></li>
      <a href="/index.html" class="logo"
        ><img src="/img/logo.webp" alt="logo" /></a
      >
      <li><a href="../events">Events</a></li>
      <li><a href="../collab">Collabs</a></li>
    </ul>
  </div>
</nav>

<div class="menu_wrapper">
  <ul class="menu_links">
    <li><a href="/about">About Kismet<span>01</span></a></li>
    <li><a href="/menu"><span>02</span>Menu</a></li>
    <li><a href="/events">Events<span>03</span></a></li>
    <li><a href="/collabs"><span>04</span>Collabs</a></li>
  </ul>
</div>

<style>
  .logo {
    height: auto;
    width: 25vh;
  }
  .logo:hover {
    opacity: 50%;
  }
  img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    align-self: stretch;
  }
  .mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar {
    margin: 20px;
  }
  span {
    font-family: "Fragment Mono", monospace;
    margin: 2vh;
    font-size: 1rem;
  }
  a {
    color: var(--dark-green);
  }
  a:hover {
    color: var(--light-green);
  }
  .menu_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    background-color: var(--dark-green);
    z-index: 999;
  }

  .menu_wrapper.active {
    min-height: 100vh;
    padding: 20vh 0 0 0; /* tilpass dette */
  }
  .menu_links a {
    color: var(--light-purple);
    font-family: "Gloria Hallelujah", cursive;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
  }
  .menu_links a:hover {
    color: var(--light-green);
  }
  .menu_links li {
    list-style: none;
  }

  .menu_icon {
    position: relative;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
  }

  .menu_icon.active .line:nth-child(2) {
    opacity: 0;
  }

  .menu_icon.active .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .menu_icon.active .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: var(--light-purple);
  }

  .line {
    width: 25px;
    height: 3px;
    background-color: var(--dark-green);
    margin: 5px 0;
    transition: all 0.3s ease;
  }
  .menu_list {
    display: none;
  }
  @media screen and (min-width: 800px) {
    .menu_list ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
    }
    .menu_list {
      display: block;
    }
    .menu_icon {
      display: none;
    }
    .mobile {
      display: none;
    }
  }
</style>
