---

---

<section class="Index-section">
  <div class="index-text-side">
    <h1>CAFÉ & BAKERY</h1>
  </div>

  <div class="index-flexbox">
    <div class="index-wrapper">
      <p class="index-text">
        We we located in central copenhagen. A place that brings people together
        through a shared love for food, connection, good vibes, and inspiring
        events.
      </p>
    </div>
  </div>

  <div class="wrap-img-h3">
    <div class="index-img">
      <img src="/img/index_landing.webp" alt="Kismet" />
      <img
        class="doodle_bottle"
        src="/img/index_wine_bottle.webp"
        alt="doodle_bottle"
      />
    </div>

    <h2 class="no-res">
      come by and grab a seat, we don't make reservations:)
    </h2>
  </div>
</section>

<hr />

<style>
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  h1 {
    color: var(--dark-green);
    margin-bottom: 70px;
  }

  .index-img {
    position: relative;
  }

  p {
    color: var(--dark-green);
    background-color: var(--beige);
    box-shadow: 10px 10px var(--dark-green);

    padding: 15px;
    font-size: 14px;
    /* margin: 20px auto; */
    margin-bottom: 70px;
  }

  .no-res {
    font-family: "Gloria Hallelujah", cursive;
    color: var(--dark-green);
    font-size: 15px;
    margin-top: 30px;
    text-align: center;
  }

  hr {
    width: 17rem;
    height: 3px;
    background-color: var(--beige);
    border: none;
    margin: 2rem auto;
  }
  .wrap-img-h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
  }

  .doodle_bottle {
    width: 100px; /* Procent gør den responsiv */

    position: absolute;
    top: 5px; /* Lidt over billedet */
    left: 16%; /* Justér horisontal placering */
    animation: bottleFloat 3.5s ease-in-out infinite;
    transform-origin: bottom center;
    display: inline-block;
  }

  @keyframes bottleFloat {
    0% {
      transform: rotate(-5deg);
    }
    50% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(-5deg);
    }
  }
  @media (min-width: 350px) {
    .index-img {
      width: 350px;
    }
  }
  @media (min-width: 600px) {
    p {
      width: 450px;
      margin: 0 auto;
    }
    h1 {
      text-align: center;
    }
  }
  @media (min-width: 1024px) {
    p {
      width: 450px;
      font-size: 16px;
    }
    hr {
      width: 70rem;
    }
    h1 {
      text-align: start;
    }
    .index-img {
      width: 400px;

      order: 2;
      bottom: 28rem;
      margin-left: 75px;
    }
    .wrap-img-h3 {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      gap: 3rem;
    }

    .index-text {
      padding-left: 25px;
      margin-left: 10px;
      position: relative;
      bottom: 10px;
    }

    .no-res {
      font-size: 20px;
      margin-top: 1rem; /* justér så den flugter med toppen af billedet */
      order: 1;
    }
    .doodle_bottle {
      width: 120px; /* Procent gør den responsiv */
    }
  }
</style>
