---

---

<section class="index-buttons">
  <div class="button-card abouts">
    <img
      class="doodle doodle-about"
      src="/img/index_doodle_2.webp"
      alt="doodle"
    />
    <a href="/about">
      <img class="main-img" src="/img/index_button_img3.webp" alt="About" /></a
    >
    <a class="text" href="/about">ABOUT</a>
  </div>

  <div class="button-card menus">
    <img
      class="doodle doodle-menu"
      src="/img/index_doodle_2.webp"
      alt="doodle"
    />
    <a href="/menu">
      <img class="main-img" src="/img/index_button_img3.webp" alt="About" /></a
    >
    <a class="text" href="/menu">MENU</a>
  </div>

  <div class="button-card events">
    <img
      class="doodle doodle-event"
      src="/img/index_doodle_1_3.webp"
      alt="doodle"
    />
    <a href="/events">
      <img class="main-img" src="/img/index_button_img1.webp" alt="Events" /></a
    >
    <a class="text" href="/events">EVENTS</a>
  </div>

  <div class="button-card collabs">
    <img
      class="doodle doodle-collab"
      src="/img/index_doodle_2.webp"
      alt="doodle"
    />
    <a href="/collab">
      <img class="main-img" src="/img/index_button_img2.webp" alt="Collab" /></a
    >
    <a class="text" href="/collab">COLLAB</a>
  </div>
</section>

<style>
  .index-buttons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-top: 3rem;
  }

  .button-card {
    position: relative;
    display: inline-block;
    width: 50%;
    max-width: 230px;
    border-radius: 10px;
    margin: 40px;
  }

  .main-img {
    width: 100%;
    display: block;
    transition: transform 0.3s ease;
    /* border: 8px solid var(--plum); */
  }

  .doodle {
    position: absolute;
    height: auto;
    pointer-events: none;
    z-index: 5;
    animation: doodleFloat 3.5s ease-in-out infinite;
  }

  .doodle-event {
    top: -30px;
    left: -50px;
    width: 150px;
    transform: rotate(20deg);
  }
  .doodle-menu {
    top: 80px;
    left: 90px;
    width: 170px;
    transform: rotate(20deg);
  }
  .doodle-collab {
    bottom: -80px;
    right: -70px;
    width: 200px;
    transform: rotate(-10deg);
  }
  .doodle-about {
    top: -50px;
    left: -70px;
    width: 200px;
    --rotate: -30deg;
  }
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Gloria Hallelujah", cursive;
    font-size: 2.3rem;
    color: white;
    z-index: 6;
    text-decoration: none;
    pointer-events: auto;
    text-align: center;

    text-shadow:
      -1px -1px 0 var(--dark-green),
      1px -1px 0 var(--dark-purple),
      -1px 1px 0 var(--dark-green),
      1px 1px 0 var(--dark-purple);

    transition:
      transform 0.3s ease,
      color 0.3s ease;
  }

  .text:hover {
    transform: translate(-50%, -50%) scale(1.08); 
    color: var(--beige);
  }
  .button-card.collabs .main-img {
    border-color: var(--light-green);
    /* border: 12px solid var(--light-green); */
    border-bottom: none;
    border-left: none;
    box-shadow: 10px 10px var(--dark-purple);
  }
  .button-card.events .main-img {
    border-color: var(--light-purple);
    /* border: 15px solid var(--light-purple); */
    border-bottom: none;
    border-right: none;
    box-shadow: 10px 10px var(--light-purple);
  }
  .button-card.abouts .main-img {
    border-color: var(--dark-purple);
    /* border: 15px solid var(--plum); */
    border-top: none;
    border-left: none;
    box-shadow: 10px 10px var(--light-green);
  }

  .button-card.menus .main-img {
    border-color: var(--dark-purple);
    /* border: 15px solid var(--plum); */
    border-top: none;
    border-left: none;
    box-shadow: 10px 10px var(--dark-green);
  }

  .button-card:hover .main-img {
    transform: scale(0.9);
    transition: transform 0.3s ease;
  }
  /* .button-card.plum {
    margin-bottom: 100px;
  } */

  @keyframes doodleFloat {
    0%,
    100% {
      transform: translateY(0) rotate(var(--rotate, 0deg));
    }
    50% {
      transform: translateY(-6px) rotate(var(--rotate, 0deg));
    }
  }

  @media (min-width: 768px) {
    .index-buttons {
      flex-direction: row;
      justify-content: center;
    }
    .button-card {
      width: 40%;
      max-width: 300px;
      margin: 20px;
    }
</style>
