---

---

<section class="Index-section">
  <div class="index-text-side">
    <h1></h1>
  </div>

  <div class="index-flexbox">
    <div class="index-wrapper">
      <p class="index-text">
        Welcome to kismet, a (all day) café and bakery located in central
        copenhagen. A place that brings people together through a shared love
        for food, connection, good vibes, and inspiring events.
      </p>
    </div>
  </div>

  <div class="wrap-img-h3">
    <div class="index-img">
      <img src="/img/index_landing.webp" alt="Kismet" />
    </div>

    <h3 class="no-res">
      come by and grab a seat, we don't make reservations:)
    </h3>
  </div>
</section>

<hr />

<style>
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  h1 {
    color: var(--dark-green);
  }

  .index-img {
    width: 320px;
    margin-left: 40px;
  }

  p {
    color: var(--dark-green);
    width: 420px;
    background-color: var(--beige);
    box-shadow: 10px 10px var(--dark-green);
    line-height: 30px;
    padding: 15px;
    font-size: 14px;
    margin: 20px auto;
    margin-bottom: 70px;
  }

  .no-res {
    font-family: "Gloria Hallelujah", cursive;
    color: var(--dark-green);
    font-size: 15px;
    margin-top: 30px;
  }

  hr {
    width: 25rem;
    height: 3px;
    background-color: var(--beige);
    border: none;
    margin: 2rem auto;
  }
  .wrap-img-h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
  }

  @media (min-width: 1024px) {
    p {
      width: 450px;
    }
    hr {
      width: 70rem;
    }

    .index-img {
      width: 400px;

      order: 2;
      margin-top: -280px;
      margin-left: 10px;
    }
    .wrap-img-h3 {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      gap: 3rem;
    }

    .index-text {
      padding-left: 25px;
      margin-left: 20px;
    }

    .Index-section {
      margin-top: 80px;
    }

    .no-res {
      font-size: 20px;
      margin-top: 7rem; /* justér så den flugter med toppen af billedet */
      order: 1;
    }
  }
</style>
