<section class="Index-section">
  <div class="index-text-side">
    <h1>Café & Bakery</h1>
  </div>

  <div class="index-flexbox">
    <div class="index-wrapper">
      <p class="index-text">
        A place located in the center of Copenhagen, that brings people together through a shared love for food,
        connection, good vibes, and inspiring events.
      </p>
    </div>
  </div>
</section>

<hr />

<style>
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  h1 {
    margin-bottom: 70px;
  }

  .index-img {
    position: relative;
  }

  p {
    color: var(--dark-green);
    background-color: var(--beige);
    box-shadow: 10px 10px var(--dark-green);
    padding: 15px;
    margin-bottom: 70px;
  }

  .no-res {
    font-family: "Gloria Hallelujah", cursive;
    color: var(--dark-green);
    font-size: 15px;
    margin-top: 30px;
    text-align: center;
  }

  hr {
    width: 17rem;
    height: 3px;
    background-color: var(--beige);
    border: none;
    margin: 2rem auto;
  }

  @media (min-width: 350px) {
    .index-img {
      width: 350px;
    }
  }

  @media (min-width: 600px) {
    p {
      width: 450px;
      margin: 0 auto;
    }
    h1 {
      text-align: center;
    }
  }

  @media (min-width: 1024px) {
    p {
      width: 450px;
      font-size: 16px;
    }
    hr {
      width: 70rem;
    }
    h1 {
      text-align: center;
    }
    .index-img {
      width: 360px;
      order: 2;
      position: relative;
      margin-top: -360px;
      margin-left: 70px;
    }
    .wrap-img-h3 {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      gap: 3rem;
    }
    .index-text {
      align-items: center;
    }
    .no-res {
      font-size: 20px;
      margin-top: 4.8rem;
      order: 1;
      width: 600px;
    }
  }
</style>
