---

---

<h2>Drinks.</h2>
<style>
  h2 {
    text-transform: uppercase;
    text-align: center;
    color: var(--light-green);
    font-size: 5rem;
  }
  @media screen and (min-width: 800px) {
    h2 {
      font-size: 10rem;
    }
  }
</style>
