---

---

<section>
  <h1>Menu</h1>
  <p>
    Our menu isn’t set in stone — and that’s exactly how we like it. What we
    cook depends on what’s fresh, in season, and inspiring right now. <br><br>The
    changing rhythm of the seasons keeps our kitchen creative and alive, and it
    means there’s always something new to taste when you stop by.
  </p>
</section>
<style>
  h1 {
    text-align: center;
    color: var(--dark-green);
    text-transform: uppercase;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
  p {
    color: var(--dark-green);
    margin: 3vh 0 3vh 0;
    line-height: 1.8rem;
  }
  @media screen and (min-width: 800px) {
    p {
      margin: 2vh 40vh 10vh 40vh;
    }
  }
</style>
