---
const { product } = Astro.props;
const url = "https://ugqyjglpqvlnxrizrviv.supabase.co/rest/v1/menu";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVncXlqZ2xwcXZsbnhyaXpydml2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDcyOTY1MjgsImV4cCI6MjA2Mjg3MjUyOH0.o34_Vq2MYjWQWAExvv8dp2e5I5p6bE7UNxj3s36Boz0";

const options = { headers: { apikey: key } };
const data = await fetch(url, options).then((res) => res.json());

console.log(data);
---

<article>
  <h1>{product.menu_title}</h1>
  <p class="price">{product.price} DKK</p>
  <img src={`/img/${product.image}`} alt="placeholder" />
  <p>
    {product.menu_text}
  </p>
</article>

<style>
  article {
    background-color: var(--light-purple);
    padding: 10vh;
    color: var(--beige);
  }
  h1 {
    font-size: 3rem;
  }
  .price,
  h1 {
    text-align: center;
    text-transform: uppercase;
  }
</style>
