---

---

<article>
  <h1>Matcha</h1>
  <p class="price">price</p>
  <img src="/img/menu_plate_1.webp" alt="placeholder" />
  <p>
    Matcha Yamabuki er en premium kulinarisk japansk matcha, produceret af
    Hoshino-Seichaen en familiedrevet virksomhed lokaliseret i Hoshino, Yame,
    Fukuoka.
  </p>
</article>

<style>
  article {
    background-color: var(--light-purple);
    padding: 10vh;
    color: var(--beige);
  }
  h1 {
    font-size: 3rem;
  }
  .price,
  h1 {
    text-align: center;
    text-transform: uppercase;
  }
</style>
