---

---

<section>
  <h1>Menu</h1>
  <p>
    Our menu isn’t set in stone — and that’s exactly how we like it. What we
    cook depends on what’s fresh, in season, and inspiring right now. <br><br>The
    changing rhythm of the seasons keeps our kitchen creative and alive, and it
    means there’s always something new to taste when you stop by.
  </p>
</section>
<style>
  h1 {
    text-align: center;
    color: var(--light-green);
    text-transform: uppercase;
  }
  p {
    color: var(--dark-green);
    margin: 3vh 0 3vh 0;
    max-width: 100%;
    line-height: 1.8;
    margin-top: 60px;
    color: var(--dark-green);
    background-color: var(--beige);
    box-shadow: 10px 10px var(--light-green);
    border: 1px solid var(--light-green);
    line-height: 30px;
    padding: 15px;
    font-size: 14px;
  }
  @media screen and (min-width: 800px) {
    p {
      margin: 3vh 40vh 10vh 40vh;
    }
  }
</style>
