---
const { product } = Astro.props;
---

<article>
  <h1>{product.menu_title}</h1>
  <p class="price">{product.price} DKK</p>
  <img src={`/img/${product.image}`} alt="placeholder" />
</article>

<style>
  article {
    background-color: var(--dark-green);
    color: rgb(253, 247, 222);
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  h1,
  .price {
    text-transform: uppercase;
  }

  h1 {
    font-size: 1.7rem;
  }

  .price {
    font-size: 1.2rem;
  }

  img {
    width: 50%;
    height: 100%;
    margin: 0 auto;
  }
</style>
