---
const { product } = Astro.props;
---

<article>
  <h1>{product.menu_title}</h1>
  <p class="price">{product.price} DKK</p>
  <img src={`/img/${product.image}`} alt="placeholder" />
  <div class="text-container">
    <p>{product.menu_text}</p>
  </div>
</article>

<style>
  article {
    background-color: var(--light-purple);
    color: var(--beige);
    box-shadow: 10px 10px var(--dark-purple);
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
  }

  h1,
  .price {
    text-transform: uppercase;
  }

  h1 {
    font-size: 1.7rem;
  }

  .price {
    font-size: 1.2rem;
  }

  img {
    width: 50%;
    margin: 0 auto;
  }

  .text-container {
    width: var(--text-width);
  }

  .text-container p {
    line-height: 1.5;
    hyphens: auto;
    word-break: break-word;
    text-align: start;
  }
</style>
