---
//@ts-nocheck
import MainLayout from "../../layouts/MainLayout.astro";
import ButtonRound from "../../components/ButtonRound.astro";

const { text } = Astro.props;

export async function getStaticPaths() {
  /*const response = await fetch("...");
  const data = await response.json();*/
  const url = "https://ugqyjglpqvlnxrizrviv.supabase.co/rest/v1/events";
  const key =
    "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVncXlqZ2xwcXZsbnhyaXpydml2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDcyOTY1MjgsImV4cCI6MjA2Mjg3MjUyOH0.o34_Vq2MYjWQWAExvv8dp2e5I5p6bE7UNxj3s36Boz0";

  const options = { headers: { apikey: key } };
  const data = await fetch(url, options).then((res) => res.json());

  console.log(data);
  return data.map((event) => {
    return {
      params: { slug: event.event_slug },
      props: { event },
    };
  });
}

const { event, variant } = Astro.props;
---

<MainLayout>
  <section class="grid_1-1">
    <div class="img_container">
      <img src={`../img/${event.event_image}`} alt="placeholder" />
    </div>
    <div class="text_box">
      <p>{event.event_date}</p>
      <h1>{event.event_title}</h1>
      <p>{event.event_text}</p>
      <ButtonRound text="Add to calendar" variant="variant_1" />
    </div>
  </section>
</MainLayout>

<style>
  h1 {
    color: var(--dark-green);
    font-size: 3rem;
  }
</style>
