---
const { title, backgroundClass = "" } = Astro.props;
import "../styles/style.css";
import "../styles/layout.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon_kismet/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon_kismet/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon_kismet/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>
  </head>
  <body class={backgroundClass}>
    <main>
      <Header />
      <slot />
      <Footer />
    </main>
    <script src="/scripts/burger.js" defer></script>
  </body>
</html>

<style>
  body.background_singel::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("/img/singel_background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5; /* Adjust here */
    z-index: -1;
    pointer-events: none;
  }
  body.about-page::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("/img/about-background.webp");
    background-size: 400px 500px;
    background-position: top left;
    background-repeat: repeat;
    opacity: 0.2;
    z-index: -1;
    pointer-events: none;
  }

  body.menu-page::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("/img/about-1.webp");
    background-size: 400px 500px;
    background-position: top left;
    background-repeat: repeat;
    opacity: 0.1;
    z-index: -1;
    pointer-events: none;
  }
  body.collab-page::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("/img/collab_bg.webp");
    background-size: 253px 340px;
    background-position: top left;
    background-repeat: repeat;
    opacity: 0.24;
    z-index: -1;
    pointer-events: none;
  }
  body.index-page::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("/img/index_bg.webp");
    background-size: 650px 700px;
    background-position: top left;
    background-repeat: repeat;
    opacity: 0.25;
    z-index: -1;
    pointer-events: none;
  }
  body.events-page::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("/img/collab-4.webp");
    background-size: 400px 500px;
    background-position: top left;
    background-repeat: repeat;
    opacity: 0.1;
    z-index: -1;
    pointer-events: none;
  }
</style>
